.board button{
	width: 65px ;
	height: 65px ;
	background: rgb(255, 255, 255); /*linear-gradient(180deg, #ffffff, #151524) ;*/
	margin: 5%;
	border-radius: 100%; 
	border: 3px solid black;
}

body{
	background: linear-gradient(360deg, #28cffc, #0c0f6e) no-repeat center center fixed;
	background-repeat: no-repeat;
  	background-size:all ; 
  	background-position:center;
}

@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

.card-title p {
    color: #43a5de;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: unset
}

.card-text p {
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 3vh 0;
    font-weight: lighter
}

.win {
    border-radius: 50%;
    animation: animationFrames 1s infinite;
    -webkit-animation: animationFrames 1s infinite;
    -moz-animation: animationFrames 1s infinite;
    -o-animation: animationFrames 1s infinite;
    -ms-animation: animationFrames 1s infinite;
}

@keyframes animationFrames{
    50% {
        opacity:0.6;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes animationFrames{
    50% {
        opacity:0.6;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes animationFrames {
    50% {
        opacity:0.6;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes animationFrames {
    50% {
        opacity:0.6;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes animationFrames {
    50% {
        opacity:0.6;
    }
    100% {
        opacity:1;
    }
}
